@model List<Telemedicine.Models.Dtos.ResponseDto.DoctorAwardResponseDto>
@using Telemedicine.Utilities
@inject Telemedicine.Services.Interfaces.ISessionManager _sessionManager;
<div class="section section-data-tInstitutionables">
    <table class="striped">
        <thead>
            <tr>
                <th class="width-40 left-align">Title</th>
                <th class="width-30 left-align">Institution</th>
                <th class="width-20 left-align">Date</th>
                @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                {
                    <th class="width-10 right-align">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (!(Model is null))
                {
                    if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="width-40 left-align">@item.Title</td>
                                <td class="width-30 left-align">@item.Institution</td>
                                <td class="width-20 left-align">@item.AwardDate.ToFormatDate()</td>
                                @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                {
                                    <td class="width-10 right-align">
                                        <a href="javascript:void(0);" class="blue-text" onclick="getAwardById(@item.DoctorAwardId)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" class="red-text" onclick="deleteAwardById(@item.DoctorAwardId)"><i class="material-icons">delete</i></a>
                                    </td>
                                }

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="width-100 center-align" colspan="4">
                                <span class="text-muted">No Award Found</span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="width-100 center-align" colspan="4">
                            <span class="text-muted">No Award Found</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>