@model Telemedicine.Models.Dtos.StoreProcedureDto.GetDoctorDetailDto
@using Telemedicine.Services.Interfaces
@using Telemedicine.Utilities
@inject ISessionManager _sessionManager
@using Telemedicine.App.Controllers
@{
    ViewData["Title"] = "Profile";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/user-profile-page.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/hover-effects/media-hover-effects.css">
    <link href="~/lib/google-map/ChooseLocation.css" rel="stylesheet" />
    <style type="text/css">
        .grid figure {
            min-width: 120px;
            max-width: 120px;
        }

        figure.effect-zoe p.icon-links a {
            float: none;
        }

            figure.effect-zoe p.icon-links a i.material-icons {
                font-size: 40px;
                color: #efefef;
                cursor: pointer;
            }

        figure.effect-zoe p.icon-links label i.material-icons {
            font-size: 40px;
            color: #efefef;
            cursor: pointer;
        }

        figure.effect-zoe figcaption {
            background: #0c0c0c70;
        }

        .grid figure p {
            font-size: 100%;
        }

        .carousel.carousel-slider .carousel-item {
            min-height: calc(100vh - 116px);
        }

        #pac-input {
            /*width: calc(100% - 100px);*/
            width: 100% !important;
        }

            #pac-input[type=text]:not(.browser-default):focus:not([readonly]) {
                border-bottom: none !important;
                box-shadow: none !important;
            }

        .image-profile-picture-css {
            max-width: 120px !important;
            min-width: 120px !important;
            width: 100%;
            max-height: 120px !important;
            min-height: 120px !important;
            height: 100% !important;
            vertical-align: middle;
            /*            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;*/
            background-position: 50% 50%;
            background-repeat: no-repeat;
            object-fit: cover;
        }

        #user_current_location {
            width: 100%;
            height: 400px;
            margin-right: auto;
            margin-left: auto;
            box-shadow: 0 0 3px rgba(0,0,0,0.3);
            margin: 10px 0;
        }

        .tabs-content.carousel.carousel-slider {
            min-height: 720px;
        }

        div.display-flex img {
            max-width: 50px !important;
            min-width: 50px !important;
            width: 100%;
            max-height: 50px !important;
            min-height: 50px !important;
            height: 100% !important;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            object-fit: cover;
        }

        .feedback-description {
            min-height: 80px;
            max-height: 80px;
            height: 100%;
            overflow: auto;
            display: block;
        }

            .feedback-description::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                /*border-radius: 10px;*/
                background-color: #F5F5F5;
            }

            .feedback-description::-webkit-scrollbar {
                width: 3px;
                /*background-color: #F5F5F5;*/
            }

            .feedback-description::-webkit-scrollbar-thumb {
                /*border-radius: 10px;*/
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #f2f4f8;
            }
    </style>
}
@section scripts{
    <script src="~/app-assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/app-assets/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="~/app-assets/vendors/masonry.pkgd.min.js"></script>
    <script src="~/app-assets/js/scripts/media-hover-effects.js"></script>
    <script src="~/app-assets/vendors/formatter/jquery.formatter.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQcmSvCH5unhfQij4tZg5qKwnVqcIv7ME&libraries=places&callback=initMap" async defer></script>
    <script src="~/lib/google-map/ChooseLocation.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
        function bookAppointmet(id, startDate, endDate, inputElement) {
            $.confirm({
                title: 'Alert',
                content: 'Are you sure you want to book this appointment?',
                buttons: {
                    Yes: {
                        text: 'Yes',
                        btnClass: 'blue',
                        action: function () {
                            $.post("@Url.Action(nameof(AppointmentsController.Book), "Appointments")", { id: id, startDateTime: startDate, endDateTime: endDate }).done(function (data) {
                                if (data.status === 1) {
                                    M.toast({ html: data.message, classes: 'teal' });
                                    $(inputElement).closest("div.col").remove();
                                    //$("#txt_appointment_id").val(id);
                                    //$("#txt_start_date_time").val(startDate);
                                    //$("#txt_end_date_time").val(endDate);
                                    //$("#modal_payment_gateway").modal("open");
                                } else {
                                    M.toast({ html: data.message, classes: 'red' });
                                }
                            });
                        }
                    },
                    No: {
                        text: 'No',
                        btnClass: 'red',
                    }
                }
            });
        }
    </script>
}
<div class="content-wrapper-before gradient-45deg-indigo-light-blue"></div>
@{
    if (!(Model is null))
    {
        string profilePicture = "#";
        if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
            profilePicture = AzureConfigurations.AZURE_BLOB_BASE_URL + Model.ProfilePictureUrl;
        <input id="pac-input" type="hidden" />
        <input id="address" type="hidden" />
        <input id="latitude" type="hidden" value="@Model.Latitude" />
        <input id="longitude" type="hidden" value="@Model.Longitude" />
        <div class="col s12">
            <div class="container">
                <div class="section" id="user-profile">
                    <div class="row">
                        <!-- User Profile Feed -->
                        <div class="col s12 m4 l3">
                            <div class="row mt-3">
                                <div class="col s12 grid">
                                    <figure class="effect-zoe z-depth-5">
                                        <img class="responsive-img current-user-profile-picture image-profile-picture-css" width="120" src="@profilePicture" onerror="transformErrorImgToLettersAvatar(this, '@Model.FirstName @Model.LastName', '120')" alt="">
                                    </figure>
                                </div>
                            </div>
                            @*<div class="row mt-10 center">
                                    <div class="col s6">
                                        <h6><i class="material-icons teal-text">cake</i></h6>
                                        @if (Model.DateOfBirth.HasValue)
                                        {
                                            <p class="m-0">@Model.DateOfBirth.Value.ToFormatDate()</p>
                                        }
                                    </div>
                                    <div class="col s6">
                                        <h6><i class="material-icons blue-text">call</i></h6>
                                        @if (!string.IsNullOrEmpty(Model.Phone))
                                        {
                                            <p class="m-0">@Model.Phone</p>
                                        }
                                    </div>
                                </div>*@
                            <div class="row mt-10 center">
                                <div class="col s6">
                                    <h6><i class="material-icons teal-text">person</i></h6>
                                    @if (!string.IsNullOrEmpty(Model.GenderType))
                                    {
                                        <p class="m-0">@Model.GenderType</p>
                                    }
                                </div>
                                <div class="col s6">
                                    <h6><i class="material-icons blue-text">language</i></h6>
                                    @if (!string.IsNullOrEmpty(Model.PreferredLanguageType))
                                    {
                                        <p class="m-0">@Model.PreferredLanguageType</p>
                                    }
                                </div>
                                <div class="col s12">
                                    <hr class="mt-5">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col s12">
                                            <h6>Bio</h6>
                                            @if (!string.IsNullOrEmpty(Model.Bio))
                                            {
                                                <p>@Model.Bio</p>
                                            }
                                        </div>
                                    </div>
                                    <hr class="mt-5">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col s12">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                        <!-- User Post Feed -->
                        <div class="col s12 m8 l9">
                            <div class="container">
                                <div class="card user-card-negative-margin z-depth-0" id="feed">
                                    <div class="card-content card-border-gray">
                                        <div class="row">
                                            <div class="col s12">
                                                <h5>@Model.FirstName @Model.LastName's Profile</h5>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col s12">
                                                <ul id="tabs-swipe-demo" class="tabs">
                                                    <li class="tab col s12 m4 l4"><a href="#tab_appointment_slots" class="active"><i class="material-icons">event</i> Appointment Slots</a></li>
                                                    <li class="tab col s12 m4 l4"><a href="#tab_feedbacks"><i class="material-icons">feedback</i> Feedbacks</a></li>
                                                    <li class="tab col s12 m4 l4"><a href="#tab_overview"><i class="material-icons">info_outline</i> Overview</a></li>
                                                </ul>
                                            </div>
                                            <div id="tab_appointment_slots" class="col s12 carousel carousel-item">
                                                <div class="row mt-1 center">
                                                    @{
                                                        if (!(Model.AppointmentsList is null))
                                                        {
                                                            if (Model.AppointmentsList.Any())
                                                            {
                                                                foreach (var apt in Model.AppointmentsList)
                                                                {
                                                                    <div class="col s12 m4 l4 mb-1">
                                                                        <a href="javascript:void(0);" onclick="bookAppointmet('@apt.AppointmentId','@apt.StartDate','@apt.EndDate',this)">
                                                                            <div class="chip">
                                                                                @apt.StartDate.ToTimezoneFormatDate(_sessionManager.GetTimezoneId()) @apt.StartDate.ToTimezoneFormatTime(_sessionManager.GetTimezoneId()) - @apt.EndDate.ToTimezoneFormatTime(_sessionManager.GetTimezoneId())
                                                                                @*<i class="close material-icons">attach_money</i>*@
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="col s12 m12 l12 mb-1">
                                                                    <div class="chip red white-text">
                                                                        No appointment available for today
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="col s12 m12 l12 mb-1">
                                                                <div class="chip red white-text">
                                                                    No appointment available for today
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div id="tab_feedbacks" class="col s12 carousel carousel-item">
                                                <div class="row mt-1">
                                                    @{
                                                        if (!(Model.FeedbacksList is null))
                                                        {
                                                            if (Model.FeedbacksList.Any())
                                                            {
                                                                <div class="row">
                                                                    @foreach (var item in Model.FeedbacksList)
                                                                    {
                                                                        string cardBgColorClass = "";
                                                                        if ((item.Rating is 0) || (item.Rating <= 3))
                                                                            cardBgColorClass = "red";
                                                                        else if (item.Rating >= 3 && item.Rating <= 4)
                                                                            cardBgColorClass = "blue";
                                                                        else if (item.Rating >= 4 && item.Rating <= 5)
                                                                            cardBgColorClass = "teal";
                                                                        else
                                                                            cardBgColorClass = "red";

                                                                        string profilePictureUrl = "#";
                                                                        string username = "";

                                                                        if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                        {
                                                                            if (!(item.FromUser is null))
                                                                            {
                                                                                if (!string.IsNullOrEmpty(item.FromUser.ProfilePictureUrl))
                                                                                    profilePictureUrl = item.FromUser.ProfilePictureUrl;

                                                                                username = item.FromUser.FirstName + ' ' + item.FromUser.MiddleName + ' ' + item.FromUser.LastName;
                                                                            }
                                                                        }

                                                                        if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Client))
                                                                        {
                                                                            if (!(item.ToUser is null))
                                                                            {
                                                                                if (!string.IsNullOrEmpty(item.ToUser.ProfilePictureUrl))
                                                                                    profilePictureUrl = item.ToUser.ProfilePictureUrl;

                                                                                username = item.ToUser.FirstName + ' ' + item.ToUser.MiddleName + ' ' + item.ToUser.LastName;
                                                                            }
                                                                        }

                                                                        <div class="col s12 m6 l6">
                                                                            <div class="card-panel @cardBgColorClass white-text card-animation-2">
                                                                                <h6 class="mt-5"><b><a href="javascript:void(0);" class="white-text">@item.Title</a></b></h6>
                                                                                <span class="feedback-description">
                                                                                    @item.Description
                                                                                </span>
                                                                                <div class="display-flex justify-content-between flex-wrap mt-4">
                                                                                    <div class="display-flex align-items-center p-0 mt-1">
                                                                                        <img src="@profilePictureUrl" onerror="transformErrorImgToLettersAvatar(this, '@username', '50')" width="40" alt="@username" class="circle mr-10 vertical-text-middle">
                                                                                        <span class="pt-2">@username</span>
                                                                                    </div>
                                                                                    <div class="display-flex mt-3 right-align social-icon">
                                                                                        <span class="material-icons">rate_review</span> <span class="ml-3 vertical-align-top">@item.Rating</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col s12">
                                                                        <div class="card">
                                                                            <div class="card-content">
                                                                                <div class="row">
                                                                                    <div class="col s12">
                                                                                        <p class="text-muted red-text">No feedback found</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="card">
                                                                        <div class="card-content">
                                                                            <div class="row">
                                                                                <div class="col s12">
                                                                                    <p class="text-muted red-text">No feedback found</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div id="tab_overview" class="col s12 carousel carousel-item">
                                                <div class="row mt-1">
                                                    <div class="col s12">
                                                        <h6>Experiences</h6>
                                                    </div>
                                                    <div class="col s12">
                                                        <div class="section section-data-tInstitutionables">
                                                            <table class="striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="width-20 left-align">Title</th>
                                                                        <th class="width-20 left-align">Organization</th>
                                                                        <th class="width-20 left-align">Duration</th>
                                                                        <th class="width-30 left-align">Location</th>
                                                                        @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                        {
                                                                            <th class="width-10 right-align">Actions</th>
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        if (!(Model.DoctorExperiencesList is null))
                                                                        {
                                                                            if (Model.DoctorExperiencesList.Any())
                                                                            {
                                                                                foreach (var item in Model.DoctorExperiencesList)
                                                                                {
                                                                                    string duration = "";
                                                                                    if (item.EndDate.HasValue)
                                                                                        duration = item.StartDate.ToFormatDate() + " - <br>" + item.EndDate.Value.ToFormatDate();
                                                                                    else
                                                                                        duration = item.StartDate.ToFormatDate() + " - Present";

                                                                                    <tr>
                                                                                        <td class="width-20 left-align">@item.Title</td>
                                                                                        <td class="width-20 left-align">@item.Organization</td>
                                                                                        <td class="width-20 left-align">@Html.Raw(duration)</td>
                                                                                        <td class="width-30 left-align text-truncate">@item.Address</td>
                                                                                        @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                                        {
                                                                                            <td class="width-10 right-align">
                                                                                                <a href="javascript:void(0);" class="blue-text" onclick="getExperienceById(@item.DoctorExperienceId)"><i class="material-icons">edit</i></a>
                                                                                                <a href="javascript:void(0);" class="red-text" onclick="deleteExperienceById(@item.DoctorExperienceId)"><i class="material-icons">delete</i></a>
                                                                                            </td>
                                                                                        }
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr>
                                                                                    <td class="width-100 center-align" colspan="5">
                                                                                        <span class="text-muted">No Experience Found</span>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td class="width-100 center-align" colspan="5">
                                                                                    <span class="text-muted">No Experience Found</span>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col s12">
                                                        <hr class="mt-5">
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col s12">
                                                        <h6>Educations</h6>
                                                    </div>
                                                    <div class="col s12">
                                                        <div class="section section-data-tInstitutionables">
                                                            <table class="striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="width-20 left-align">Type</th>
                                                                        <th class="width-20 left-align">Title</th>
                                                                        <th class="width-20 left-align">Duration</th>
                                                                        <th class="width-30 left-align">Location</th>
                                                                        @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                        {
                                                                            <th class="width-10 right-align">Actions</th>
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        if (!(Model.DoctorEducationsList is null))
                                                                        {
                                                                            if (Model.DoctorEducationsList.Any())
                                                                            {
                                                                                foreach (var item in Model.DoctorEducationsList)
                                                                                {
                                                                                    string duration = "";
                                                                                    if (item.EndDate.HasValue)
                                                                                        duration = item.StartDate.ToFormatDate() + " - <br>" + item.EndDate.Value.ToFormatDate();
                                                                                    else
                                                                                        duration = item.StartDate.ToFormatDate() + " - Present";

                                                                                    string educationType = "";
                                                                                    if (!string.IsNullOrEmpty(item.DoctorEducationType))
                                                                                        educationType = item.DoctorEducationType;

                                                                                    <tr>
                                                                                        <td class="width-20 left-align">@educationType</td>
                                                                                        <td class="width-20 left-align">@item.Title</td>
                                                                                        <td class="width-20 left-align">@Html.Raw(duration)</td>
                                                                                        <td class="width-30 left-align">@item.Address</td>
                                                                                        @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                                        {
                                                                                            <td class="width-10 right-align">
                                                                                                <a href="javascript:void(0);" class="blue-text" onclick="getEducationById(@item.DoctorEducationId)"><i class="material-icons">edit</i></a>
                                                                                                <a href="javascript:void(0);" class="red-text" onclick="deleteEducationById(@item.DoctorEducationId)"><i class="material-icons">delete</i></a>
                                                                                            </td>
                                                                                        }

                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr>
                                                                                    <td class="width-100 center-align" colspan="5">
                                                                                        <span class="text-muted">No Education Found</span>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td class="width-100 center-align" colspan="5">
                                                                                    <span class="text-muted">No Education Found</span>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col s12">
                                                        <hr class="mt-5">
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col s12">
                                                        <h6>Awards</h6>
                                                    </div>
                                                    <div class="col s12">
                                                        <div class="section section-data-tInstitutionables">
                                                            <table class="striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="width-40 left-align">Title</th>
                                                                        <th class="width-30 left-align">Institution</th>
                                                                        <th class="width-20 left-align">Date</th>
                                                                        @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                        {
                                                                            <th class="width-10 right-align">Actions</th>
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        if (!(Model.DoctorAwardsList is null))
                                                                        {
                                                                            if (Model.DoctorAwardsList.Any())
                                                                            {
                                                                                foreach (var item in Model.DoctorAwardsList)
                                                                                {
                                                                                    <tr>
                                                                                        <td class="width-40 left-align">@item.Title</td>
                                                                                        <td class="width-30 left-align">@item.Institution</td>
                                                                                        <td class="width-20 left-align">@item.AwardDate.ToFormatDate()</td>
                                                                                        @if (_sessionManager.GetRole().Equals(UserRoleTypeStrings.Therapist))
                                                                                        {
                                                                                            <td class="width-10 right-align">
                                                                                                <a href="javascript:void(0);" class="blue-text" onclick="getAwardById(@item.DoctorAwardId)"><i class="material-icons">edit</i></a>
                                                                                                <a href="javascript:void(0);" class="red-text" onclick="deleteAwardById(@item.DoctorAwardId)"><i class="material-icons">delete</i></a>
                                                                                            </td>
                                                                                        }

                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr>
                                                                                    <td class="width-100 center-align" colspan="4">
                                                                                        <span class="text-muted">No Award Found</span>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td class="width-100 center-align" colspan="4">
                                                                                    <span class="text-muted">No Award Found</span>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col s12">
                                                        <hr class="mt-5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    }
}

