@model List<Telemedicine.Models.Dtos.StoreProcedureDto.ConversationUsersDto>
@using Telemedicine.Utilities
@inject Telemedicine.Services.Interfaces.ISessionManager _sessionManager;
@{
    var recNo = 1;
}

<div class="sidebar-left sidebar-fixed animate fadeUp animation-fast">
    <div class="sidebar animate fadeUp">
        <div class="sidebar-content">
            <div id="sidebar-list" class="sidebar-menu chat-sidebar list-group position-relative">
                <div class="sidebar-list-padding app-sidebar sidenav" id="chat-sidenav">
                    <!-- Sidebar Header -->
                    <div class="sidebar-header">
                        <div class="row valign-wrapper">
                            <div class="col s2 media-image pr-0">
                                <img src="#" onerror="transformErrorImgToLettersAvatar(this, '@_sessionManager.GetUsername()', '40')" alt="" class="circle z-depth-2 responsive-img">
                            </div>
                            <div class="col s10">
                                <p class="m-0 blue-grey-text text-darken-4 font-weight-700">@_sessionManager.GetUsername()</p>
                                <p class="m-0 info-text"></p>
                            </div>
                        </div>
                        <span class="option-icon"></span>
                    </div>
                    <!--/ Sidebar Header -->
                    
                    <!-- Sidebar Content List -->
                    <div class="sidebar-content sidebar-chat">
                        <div class="chat-list">
                            @foreach (var row in Model)
                            {
                                <div class="chat-user animate fadeUp delay-@recNo active" data-parent-id="@row.ConversationId" data-to-user-id="@row.UserId">
                                    <div class="user-section width-100">
                                        <div class="row">
                                            <div class="col s2 media-image online pr-0">
                                                <img src="#" onerror="transformErrorImgToLettersAvatar(this, '@row.UserName', '30')" alt="" class="circle z-depth-2 responsive-img">
                                            </div>
                                            <div class="col s8">
                                                <p class="m-0 blue-grey-text text-darken-4 font-weight-700">@row.UserName</p>
                                                @*<p class="m-0 info-text">@row.LastMessage</p>*@
                                            </div>
                                            <div class="col s2 right-align">
                                                <span class="dot"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                recNo= recNo + 1;



                            }

                            
                        </div>
                        <div class="no-data-found">
                            <h6 class="center">No Results Found</h6>
                        </div>
                    </div>
                    <!--/ Sidebar Content List -->
                </div>
            </div>
        </div>
    </div>
</div>



